body{
font-family: Arial;
background:#0a7c3b;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.login-container{
background:white;
padding:40px;
border-radius:10px;
text-align:center;
width:320px;
}

.logo{
width:120px;
margin-bottom:10px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:#0a7c3b;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#06652f;
}

.dashboard{
text-align:center;
color:white;
}